{% extends '_base.html' %}

{% block extra_head %}
<!-- <link rel="stylesheet" type="text/css" href="http://3vot.com/chicas_poderosas/water/assets/bootstrap.css" /> -->
<link rel="stylesheet" type="text/css" href="http://3vot.com/chicas_poderosas/water/assets/style.css" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<link rel="stylesheet" type="text/css" href=" http://3vot.com/chicas_poderosas/wells/assets/style.css" />
{% endblock %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 introduction">
                <h4 id="read-in">
                    <span id="read-in-english" class="spanish">{{ COPY.content.read_in_english }}</span>
                    <span id="read-in-spanish" class="english">{{ COPY.content.read_in_spanish }}</span>
                </h4>
                <h1 class="english">{{ COPY.content.hed }}</h1>
                <h1 class="spanish">{{ COPY.content.spanish_hed }}</h1>
                <div id="story-meta">
                    <p class="byline"><span class="english">by</span><span class="spanish">por</span> <span>{{ COPY.attribution.byline }}</span></p>
                    <p class="dateblock">
                        <span class="date">{{ COPY.attribution.pubdate }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
{% endblock %}


{% block wide_content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="english">{{ COPY.content.section_1_hed }}</h3>
        <h3 class="spanish">{{ COPY.content.section_1_hed_spanish }}</h3>
        <div class="english">{{ COPY.content.section_1 }}</div>
        <div class="spanish">{{ COPY.content.section_1_spanish }}</div>        
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="water_use_app" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <small class="caption">
            <span class="english">{{ COPY.content.use_map_caption }}</span>
            <span class="spanish">{{ COPY.content.use_map_caption_spanish }}</span>
        </small>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="english">{{ COPY.content.section_2_hed }}</h3>
        <h3 class="spanish">{{ COPY.content.section_2_hed_spanish }}</h3>
        <div class="english">{{ COPY.content.section_2 }}</div>
        <div class="spanish">{{ COPY.content.section_2_spanish }}</div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="assets/img/AsadaNosara5_acrespoweb.jpg" />
        <small class="caption">
            <span class="english">{{ COPY.content.well_photo_caption }}</span>
            <span class="spanish">{{ COPY.content.well_photo_caption_spanish }}</span>
        </small>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="english">{{ COPY.content.section_3_hed }}</h3>
        <h3 class="spanish">{{ COPY.content.section_3_hed_spanish }}</h3>
        <div class="english">{{ COPY.content.section_3 }}</div>
        <div class="spanish">{{ COPY.content.section_3_spanish }}</div>        
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <blockquote class="english">
            &ldquo;{{ COPY.content.quote }}&rdquo;
            <footer>&mdash; {{ COPY.content.quote_attribution }}</footer>
        </blockquote>
        <blockquote class="spanish">
            &ldquo;{{ COPY.content.quote_spanish }}&rdquo;
            <footer>&mdash; {{ COPY.content.quote_attribution_spanish }}</footer>
        </blockquote>        
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="english">{{ COPY.content.section_4_hed }}</h3>
        <h3 class="spanish">{{ COPY.content.section_4_hed_spanish }}</h3>
        <div class="english">{{ COPY.content.section_4 }}</div>
        <div class="spanish">{{ COPY.content.section_4_spanish }}</div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img src="assets/img/GCiampini_StreetPix_Samara-8279.jpg" />
        <small class="caption">
            <span class="english">{{ COPY.content.nap_photo_caption }}</span>
            <span class="spanish">{{ COPY.content.nap_photo_caption_spanish }}</span>
        </small>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="english">{{ COPY.content.section_5_hed }}</h3>
        <h3 class="spanish">{{ COPY.content.section_5_hed_spanish }}</h3>
        <div class="english">{{ COPY.content.section_5 }}</div>
        <div class="spanish">{{ COPY.content.section_5_spanish }}</div>
    </div>
    <div class="col-md-2"></div>
</div>


<div class="row" id="well-map">
    <div class="col-md-12">
        <div id="wells_app" />
    </div>
</div>

<script src="http://3vot.com/chicas_poderosas/water/index.js"></script>
<script src="http://3vot.com/chicas_poderosas/wells/index.js"></script>

<div class="row" id="footer_attribution">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="english"><em>{{ COPY.attribution.footer_attribution }}</em></div>
        <div class="english"><br/><em>{{ COPY.content.clarificarion_english }}</em></div>
        <div class="spanish"><em>{{ COPY.attribution.footer_attribution_spanish }}</em></div>
        <div class="spanish"><br/><em>{{ COPY.content.clarificacion_spanish }}</em></div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}
